.form-input {
  background-color: #ffffff;
  padding: 10px 17px;
  border-radius: $border-radius-8;
  width: 100%;
  font-weight: $font-weight-700;
  font-size: $font-size-lg;
  &:hover {
    border: 2px solid #48484899;
    background-color: #64646414;
  }
  &::placeholder {
    color: #64646480;
  }
  border: 1.5px solid #484848;
  margin-top: 7px;
}

.input-error {
  margin-top: 10px;
  color: #FF000080;
  font-weight: $font-weight-700;
  font-size: $font-size-lg;
}
.form-label {
  font-size: $font-size-lg;
  font-weight: $font-weight-700;
  color: #686868;
}
