.form-input {
  background-color: #ffffff;
  padding: 10px 17px;
  border-radius: $border-radius-8;
  width: -webkit-fill-available;
  font-weight: $font-weight-700;
  font-size: $font-size-lg;
  &:hover {
    border: 2px solid #48484899;
    background-color: #64646414;
  }
  &::placeholder {
    color: #64646480;
  }
  &-icon {
    height: 28px;
    padding-left: 48px;
    font-weight: $font-weight-400;
    font-size: $font-size-sm;
    caret-color: #6b4eff;
  }
  border: 1.5px solid #484848;
}

.input-error {
  margin-top: 10px;
  color: #ff000080;
  font-weight: $font-weight-700;
  font-size: $font-size-lg;
}
.form-label {
  font-size: $font-size-lg;
  font-weight: $font-weight-700;
  color: #686868;
}
